/*
=======================================
General Styling styling
=======================================
*/

html,body, #root, #root>div {
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;

    position: relative;
    min-height: 100%;
  }

  body {
	min-height: 100%;
	display: flex;
    flex-direction: column;
    margin-bottom: 0px; /* Margin bottom by footer height */
}

input[type=text],
input[type=text]:hover,
input[type=text]:focus,
select
{
    border: 1px solid #59c6d4 !important;   
}

label
{
    color: #2f8994;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
    background-color: #59c6d4;
    color: #ffff;
    border: solid 2px #59c6d4;
    border-radius: 20px;
    font-size: 18px;
    padding: 0px 30px 0px 30px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active
{
    background-color: #59c6d4;
    color: #ffff;
    border: solid 2px #59c6d4;
}

.btn-inline,
.btn-inline:hover,
.btn-inline:focus,
.btn-inline:active
{
    border-radius: .25rem;
    padding: 0px 10px 0px 10px;
    font-weight: 900;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:focus
{
    color: black;
    padding: 0px 0px;
    background-color: unset;
    border: unset;
    font-size: 14px;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: .875rem !important;
    line-height: 1.5 !important;
}

/*Header and footer section styling*/
.headerContainer
{
    box-shadow:  0px 3px 0px #d6d6d6;
    position: relative;
}

.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.header
{
    background-color: #59c6d4;
    padding: 8px 0px 8px 0px;
}

.footer
{
    background-color: #59c6d4;
    padding: 8px 0px 8px 0px;
    position: fixed;
}

.headerElements
{
    display: flex;
    margin-left:50px;
    margin-right:50px;
    margin-top: 10px;    
}

.headerLogo
{
    width: 90%;
    border-radius: 50%;
    border: solid 2px #59c6d4;

}

.applicationLogo
{
    width: 80%;
    float:right;
}

.headerLabelContainer
{
    margin-top: 20px;
    display: inline-block;
}


.headerLabel
{
    font-size: 1.5em;
    vertical-align: middle;
    color: #2f8994;
    font-weight: 500;
}

/*Body section styling*/
.bodyContainer
{
    background-color:  #eeeeee;
    min-height: 95vh;   
    padding-top: 20px;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .headerLabelContainer
    {
        margin-top: 20px;
    } 
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) { 
    .headerLabelContainer
    {
        margin-top: 20px;
    }    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .headerLogo
    {
        width: 20%;
        margin-right: 10px;
    }

    .headerLabelContainer
    {
        margin-top: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .headerLabelContainer
    {
        margin-top: 1%;
    }
}

/* Extra large devices (large desktops, 1680px and up) */
@media (min-width: 1680px) { 
    .headerLogo
    {
        width: 20%;
        margin-right: 20px;
    }
    
    .headerLabelContainer
    {
        margin-top: 2%;
    }

    .headerLabel
    {
        font-size: 1.6667em;
    }

    .formContainer > form > div > label.col-lg-3 {
        width: 15%;
        flex: 0 0 15%;
    }

    #root, #root>div {
        overflow-y: hidden;
      }

    .bodyContainer
    {
        min-height: 95vh;   
    }
}

@media(max-height: 650px)
{
    #root, #root>div {
        overflow-y: auto;
      }

    .bodyContainer
    {
        min-height: 95vh;   
    }
}

@media(min-height: 651px) and (max-height: 700px)
{
    #root, #root>div {
        overflow-y: auto;
    }

    .bodyContainer
    {
        min-height: 85vh;   
    }
}

/*
=======================================
index.html styling
=======================================
*/

/*Initial form stying*/

.frmStyle{
    height: 100%;
    min-height: 100%;
}

.formContainer{
    padding-top: 30px;
}

.initForm
{
    position: relative;
    vertical-align: middle;
    border: solid 2px#FFF;
    
    padding: 15px;
    box-shadow: 5px 5px #d6d6d6;
    background-color: #FFF;
}

.list-group-item.active {
    background-color:#d6d6d6;
    border-color:#d6d6d6;
    color:#000;
}


/*
=======================================
mentorsList.html styling
=======================================
*/

.seachBar
{
    border-radius: 20px;
}

.form-control.seachBar
{
    border: 2px solid  #59c6d4 !important;   
}

.filterContainer
{
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: #d6d6d6 2px 2px ;
}

.filterHeader
{
    background-color:  #59c6d4;
    color: #ffff;
    border-radius: 10px;    
    vertical-align: middle;
    padding: 2px 20px 2px 20px;
    margin-top: 10px;
    font-weight: 400;
}

/*Rating*/
.fa-star
{
    color: #d6d6d6;
    padding-right: 5px;
    font-size: 18px;
}

.checked {
    color: orange;
  }

  .fa-star.star-filter
  {
      padding-right: 2px;
      font-size: 15px;
  }

 
/*Sorting*/
.sortDropDown
{
    background-color: #59c6d4;
    color: #ffff;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    border:none;
    font-size: 18px;
    text-align: center;
    padding: 0px 20px 0px 20px;
    width: 80%;
    font-weight: 400;
} 


.sortDropDown option
{
    background-color: #ffff;
    color: #000;
    font-size: 14px;
    padding: 0px;
}



/*Mentors List*/
.mentorContainer{
    background-color: #fff;
    margin: 10px;
    box-shadow: #d6d6d6 2px 2px ;
}
.profileThumbnail
{
    width:100%;
    border: solid 2px #59c6d4;
    margin:10px;
    min-height: 112px;
}

.profileThumbnailCirle
{
    width:100%;
    border: solid 2px #59c6d4;
    border-radius: 70%;


}

.mentorName
{
    color: #2f8994;
    padding-top: 10px;
}

.mentorHourly
{
    font-weight: bold;
    padding-top: 10px;
    color:#655f5f;
    float: right;
}


.profileBtn
{
    background-color: #59c6d4;
    color: #ffff;
    border: solid 2px #59c6d4;
    border-radius: 20px;
    padding: 2px 20px 2px 20px;
    float: right;
}

/*Modal CSS*/
.modal-footer{
    display: inline-block;

}

.mentorHourlyLeft
{
    font-weight: bold;
    padding-top: 10px;
    color:#655f5f;
    float: left; 
}

.mentorRole{
    font-weight: bold;
    color:#655f5f;
}

.mentorLongDescription{
    font-size: 13.5px;
}

.commentsDiv {
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
  }

.commenterName
{
    font-weight: bold;
    color: #2f8994;
}

.commentParagraph
{
    font-size: 14px;
    margin: 0px;
}



/*Profile Button*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }


  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) { 
      
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .mentorContainer > div.row > div.col-md-2{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

/* Extra large devices (large desktops, 1680px and up) */
@media (min-width: 1680px) { 
    .btn-link,
    .btn-link:hover,
    .btn-link:active,
    .btn-link:focus
    {
        font-size: 18px;
    }
    .mentorContainer > div.row > div.col-md-3{
        flex: 0 0 20%;
        max-width: 20%;
    }

    .fa-star
    {
        padding-right: 10px;
        font-size: 25px;
    }

    .fa-star.star-filter
    {
        padding-right: 10px;
        font-size: 25px;
    }
}

/*Hire Mentor Page */
.mentorPage
{
    overflow-y: auto !important;
    min-height: 500px;
}

.paymentSectionTitle
{
    font-weight: bold;
    color: #2f8994;
}