/*
=======================================
Styling for hirementor.html page only
=======================================
*/

body {
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: flex;
  }



input[type=text],
input[type=text]:hover,
input[type=text]:focus,
select
{
    border: 1px solid #59c6d4 !important;   
}

label
{
    color: #2f8994;
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
    background-color: #59c6d4;
    color: #ffff;
    border: solid 2px #59c6d4;
    border-radius: 20px;
    font-size: 18px;
    padding: 0px 30px 0px 30px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active
{
    background-color: #59c6d4;
    color: #ffff;
    border: solid 2px #59c6d4;
}

.btn-inline,
.btn-inline:hover
{
    border-radius: .25rem;
    padding: 0px 10px 0px 10px;
    font-weight: 900;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:focus
{
    color: black;
    padding: 0px 0px;
    background-color: unset;
    border: unset;
    font-size: 14px;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: .875rem !important;
    line-height: 1.5 !important;
}

/*Header and footer section styling*/
.headerContainer
{
    box-shadow:  0px 3px 0px #d6d6d6;
    position: relative;
}

.footerContainer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 15px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.header,
.footer
{
    background-color: #59c6d4;
    padding: 8px 0px 8px 0px;
}

.headerElements
{
    display: flex;
    margin-left:50px;
    margin-right:50px;
    margin-top: 10px;    
}

.headerLogo
{
    width: 90%;
    border-radius: 50%;
    border: solid 2px #59c6d4;

}

.applicationLogo
{
    width: 80%;
    float:right;
}

.headerLabelContainer
{
    margin-top: 20px;
    display: inline-block;
}


.headerLabel
{
    font-size: 1.5em;
    vertical-align: middle;
    color: #2f8994;
    font-weight: 500;
}

/*Body section styling*/
.bodyContainer
{
    background-color:  #eeeeee;
    min-height: 100vh;
    padding-bottom: 20px;
    padding-top: 20px;   
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .headerLabelContainer
    {
        margin-top: 20px;
    } 
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) { 
    .headerLabelContainer
    {
        margin-top: 20px;
    }    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .headerLogo
    {
        width: 20%;
        margin-right: 10px;
    }

    .headerLabelContainer
    {
        margin-top: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .headerLabelContainer
    {
        margin-top: 1%;
    }

    
}

/* Extra large devices (large desktops, 1680px and up) */
@media (min-width: 1680px) { 
    .headerLogo
    {
        width: 20%;
        margin-right: 20px;
    }
    
    .headerLabelContainer
    {
        margin-top: 2%;
    }

    .headerLabel
    {
        font-size: 1.6667em;
    }

    .formContainer > form > div > label.col-lg-3 {
        width: 15%;
        flex: 0 0 15%;
    }

    
    
}

@media(min-height: 890px)
{
    .bodyContainer
    {
        min-height: calc(85vh);
        padding-bottom: 0px;   
    }
}


/*Initial form stying*/

.frmStyle{
    height: 100%;
    min-height: 100%;
}

.formContainer{
    padding-top: 30px;
}

.initForm
{
    position: relative;
    vertical-align: middle;
    border: solid 2px#FFF;
    
    padding: 15px;
    box-shadow: 5px 5px #d6d6d6;
    background-color: #FFF;
}

.list-group-item.active {
    background-color:#d6d6d6;
    border-color:#d6d6d6;
    color:#000;
}

.paymentSectionTitle
{
    font-weight: bold;
    color: #2f8994;
}

.hide
{
    display: none;
}

.col-form-label.required:after { 
    content:"*";
    color:red;
 }